.timeline-image{
	height: 300px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	text-shadow: 0.5px 0.5px 2px #fff;
	background-color: gray;
}

.timeline-image a {
	text-decoration: none;
	color: #fff;
	transition: all .3s ease;
}

.timeline-image a:hover {
	font-size: 18px;
}

.timeline-image img{
	height: 96px;
	width: 96px;
	border-radius: 50%;
}

.details{
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	margin-top: 20px;
}

.reading-list,.followers{
	margin-left: 10px;
}


/*Tab Menu*/

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
    border-bottom-style: solid;
    border-bottom-color: coral;
}

.tab form input[type="submit"]{
	margin-top: 5px;
	float: right;
}

.tabcontent {
    display: none;
    padding-left: 0;
    margin-top: 20px;
    font-weight: normal;
}

.show{
	display: inline;
	border: 0;
}
/*About Content*/

#about{
	display: flex;
	justify-content: space-around;
}

#about a {
	text-decoration: none;
	text-align: center;
	line-height: 40px;
}

.bio{
	height: 240px;
	width: 350px;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border: 1px solid gray;
	margin-right: 5px;
}

.bio input{
	margin-top: 20px;
	margin-bottom: 20px; 
}

.story-list {
	display: flex;
	flex-direction: column;
	flex: 2;
	border: 1px solid gray;
	border-radius: 5px;
}

.myStory{
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.myStory .header-mystory h1{
	margin-bottom: 20px; 
}

.storyDetails{
	display: flex;
	height: 200px;
}

.storyDetails .storyCover img{
	height: 180px;
	width: 140px;
}

.story-feature{
	margin-left: 20px;
}

.story-feature a {
	color: #444444;
	font-weight: normal;
}

.form-element {
	margin: 0 auto;
}

.form-element form{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	width: 400px;
}

.cardview {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 275px;
	width: 250px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px gray;
	margin-right: 10px;
}

.card-cover {
	height: 100px;
	width: 250px;
	border-radius: 5px 5px 0 0;
	background-color: gray;
	position: relative;
}

.card-cover #card-cover-image {
	height: 100px;
	width: 250px;
}

.card-cover #card-profile-image {
	height: 64px;
	width: 64px;
	top: 60px;
	left: 95px;
	position: absolute; 
	border-radius: 50px;
}

.card-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 175px;
	width: 250px;
	border-radius: 0 0 5px 5px;
	background-color: #fff;
	font-size: 14px;
}

.card-content form input[type="submit"] {
	margin: 0 auto;
	margin-top: 1px !important;
}

.card-other {
	display: flex;
	margin-top: 10px;
}

.card-works {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-following {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	margin-right: 10px;
}

.card-followers {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.conversation-comment form{
	height: 200px;
	width: 500px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.conversation-comment img {
	margin-right: 10px;
	border-radius: 50px;
}

.width {
	width: 300px;
}


.conversation-comment-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 5px;
	font-weight: normal;
	box-shadow: 1px 1px  1px  1px gray;    
	margin-top: 10px;
}

.conversation-comment-content img {
	border-radius: 50px;
	margin-right: 10px;
}

.conversation-user-info {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-bottom: 10px;
}

.conversation-message-reply form{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.dimension {
	height: 100%;
	width: 500px;
	display: flex;
    flex-direction: column-reverse;
}

.dimension .conversation-message .reply {
	margin-top: 10px;
}