.timeline-image{
	height: 300px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	text-shadow: 0.5px 0.5px 2px #fff;
	background-color: gray;
}

.timeline-image img{
	height: 96px;
	width: 96px;
	border-radius: 50%;
}

.details{
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	margin-top: 20px;
}

.reading-list,.followers{
	margin-left: 10px;
}


/*Tab Menu*/

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
    border-bottom-style: solid;
    border-bottom-color: coral;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    padding-left: 0;
    margin-top: 20px;
}

.show{
	display: inline;
	border: 0;
}
/*About Content*/

#about{
	display: flex;
	justify-content: space-between;
}

.bio{
	height: 243px;
	width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background-color: yellow;
}

.bio input{
	margin-top: 20px;
	margin-bottom: 20px; 
}

.myStory{
	height: 100%;
	border: 1px solid gray;
	flex:1; 
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	border-radius: 5px;
}

.myStory .header-mystory h1{
	margin-bottom: 20px; 
}

.storyDetails{
	display: flex;
}

.storyDetails .storyCover img{
	height: 180px;
	width: 140px;
}

.story-feature{
	margin-left: 20px;
}
.form-element {
	margin: 0 auto;
}
.form-element form{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	width: 400px;
}

.location {
	display: flex;
	flex-grow: 1; 
	align-items: center;
	justify-content: space-between;
}

.about {
	display: flex;
	flex-grow: 1; 
	justify-content: space-between;
}

.website {
	display: flex;
	flex-grow: 1; 
	align-items: center;
	justify-content: space-between;
}

.button-save {
	display: flex;
	flex-grow: 1; 
	justify-content: space-between;
	margin-right: -20px; 
}

.location, .about, .website, .button-save {
	margin-top: 20px;
}

.input {
	height: 40px;
	width: 300px;
	border-radius: 3px;
	border: none; 
}