.search-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.search-content a {
	text-decoration: none;
	color: #000; 
}

.search-stories .search-card {
	display: flex;
	padding: 5px;
}

.search-stories {
	height: 200px; 
	width: 600px;
	padding: 5px;
	margin-top: 5px;
	transition: all .3s ease;
	font-weight: normal;
	box-shadow: 1px 1px 1px #bdbdbd;
	cursor: pointer;
}

.search-stories img {
	margin-right: 5px;
}

.search-stories:hover {
	background-color: #fbe9e7;
}

.search-users {
	display: flex;
	align-items: center;
	height: 100px;
	width: 400px;
	box-shadow: 1px 1px 1px 1px #bdbdbd;
	margin-left: 10px;
	margin-top: 6px;
	transition: all .3s ease;
	font-weight: normal;
}

.search-users:hover {
	background-color: #fbe9e7;
}

.search-users .search-user {
	display: flex;
	justify-content: space-around;
}

.search-users img {
	border-radius: 50px;
	margin-right: 5px;
	margin-left: 20px;
}

.search-users .user-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.search-users .user-details a , .search-details a {
	color: #444444;
	text-decoration: none; 
}